* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 96%;
    max-width: 1200px;
    background-color: #fffded;
    margin: 15px auto;
    border: 4px solid #931420;
    box-shadow: 10px 10px 15px rgb(122, 118, 118);
    display: grid;
    grid-template: repeat(4,auto) / auto 1fr;
    grid-template-areas: 
    "head head"
    "nav nav"
    "aside article"
    "footer footer";
}

#nav_menu a:focus, #nav_menu a:hover {
    color: white;
}

h2 {
    margin-bottom: 4px;
}
/* Format for Header */

header {
    grid-area: head;
    padding-top: 15px;
    padding-bottom: 32px;
    background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 0%, white 35%, white 40%, white 50%, white 60%, white 80%, #f6bb73 100%);
}

header img {
    float: left;
    margin-left: 20px;
    max-width: 80px;
    min-width: 40px;
}

header h2 {
    font-size: 170%;
    color: #931420;
    margin-left: 12.1212%;
}

header h3 {
    font-size: 130%;
    font-style: italic;
    margin-left: 12.1212%;
}

.shaw {
    text-shadow: 1.5px 1px 1px #800000;
}

/* Menu */
#nav_menu {
    width: 100%;
    display: grid;
    grid-area: nav;
    background-color: #ad2929;
    height: 3em;
}
#nav_menu ul {
    display: grid;
    list-style: none;
    grid-template: auto / repeat(5,1fr);
    align-items: center;
}
#nav_menu ul li a {
    font-size: 150%;
    display: block;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: black;
}

/* Main */
main {
    margin: 10px 15px;
    display: grid;
    grid-template: 1 auto / 2 1fr;

}

/* Aside */
aside {
    grid-area: aside;
    grid-row: 3/4; grid-column: 1/2;
    margin-right: 5em;
}
.Same {
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Article */
article {
    grid-area: article;
    grid-row: 3/4; grid-column: 2/3;
}

blockquote {
    font-style: italic;
    margin: 10px 0 15px 30px;
}

.sec-2 {
    border-bottom: 4px solid #931420;
}

.sec-2 h1 {
    font-size: 200%;
    padding-bottom: 15px;
    border-bottom: 4px solid #931420;
}

.sec-2 h2 {
    padding-top: 15px;
}

.sec-2 h3 {
    padding: 2px 0px;
}

.reachmore {
    margin-top: 10px;
    margin-bottom: 20px;
}

.sec-3 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
}

.sec-3 nav {
    margin-left: 20px;
}

.Scott {
    display: flex;
}

.img {
    padding-left: 30px;
    padding-right: auto;
    padding-top: 6px;
}

figcaption {
    font-weight: bold;
    margin: 10px 0;
    border-bottom:4px solid #800000;
}

/* Footer */
footer {
    display: grid;
    grid-area: footer;
    padding: 15px 0;
    justify-content: center;
    background-color: #ad2929;
}
/* hide the mobile menu initially */

#mobile_menu {
    display: none;
}

@media only screen and (max-width: 767px) {
    body {
        width: 100%;
        margin: 0;
        border: none;
    }
    header {
        display: grid;
        justify-items: center;
    }
    header h2 {
        font-size: 26px;
        margin: 6px 0 4px 0;
    }
    header h3 {
        font-size: 16px;
        margin-left: 0;
    }
    header img {
        float: none;
        flex-basis: 25%;
    }
    footer p {
        text-align: center;
        margin-right: 0;
    }
    #nav_menu {
        display: none;
    }
    #mobile_menu {
        display: block;
        width: 100%;
        grid-column: 1/3;
    }
    .slicknav_menu {
        background-color: #4f8f1a !important;
    }
    main {
        flex-direction: column;
    }
    article {
        order: 2;
    }
    article img {
        float: left;
        width: 30%;
        margin-right: 2%;
    }
    figcaption {
        clear: both;
        padding-top: 10px;
    }
    aside {
        order: 1;
        margin-right: 5em;
    }
}

@media only screen and (max-width: 479px) {
    header h2 {
        font-size: 22px;
    }
    header h3 {
        font-size: 21px;
    }
    p {
        font-size: 14px;
    }
    article h1 {
        font-size: 16px;
    }
    article img {
        float: none;
        width: 100%;
        margin-right: 0;
    }
    aside h2 {
        font-size: 16px;
    }
    aside li {
        font-size: 14px;
    }
}